<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="UTF-8">
  <meta name="renderer" content="webkit">
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>艾酱的理想鄉</title>
  <link rel="shortcut icon" href="/build/img/kato.ico">
  <link rel="stylesheet" href="/vendor/bootstrap-3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/vendor/animate.css">
</head>
<body>
  <section id="app">
    <div class="common-loading" style="position: fixed; top: 50%; left: 50%; margin-top: -50px; margin-left: -50px; width: 100px; height: 100px;"></div>
  </section>
  <script src="/vendor/jquery.min.js"></script>
  <script src="/vendor/bootstrap-3.3.7/js/bootstrap.min.js"></script>
</body>
</html>