.articles {
  table-layout: fixed;
}

.articles>tbody>tr>td,
.articles>thead>tr>th,
.user-table>tbody>tr>td,
.user-table>thead>tr>th {
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
}

.articles>thead>tr>th:first-child {
  width: 40%;
}

.articles>thead>tr>th:nth-child(4) {
  width: 60%;
}

.articles>thead>tr>th:nth-child(2),
.articles>thead>tr>th:nth-child(3) {
  width: 120px;
}

.articles>thead>tr>th:last-child {
  width: 100px;
}

.articles td:first-child,
.articles td:nth-child(4) {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.articles td:first-child a {
  display: block;
  color: #333;
}

.articles td:first-child a:hover {
  color: #5bc0de;
}

.articles td:last-child a:hover {
  color: #5bc0de;
}

.articles td:last-child a:nth-child(1) {
  float: left;
}

.articles td:last-child a:nth-child(2) {
  float: right;
}

.user-table th {
  width: 33%;
}

.user-table td:last-child a:nth-child(1) {
  margin-right: 5%;
}

.search {
  display: inline-block;
  width: 200px;
  transition: width .2s ease-in-out;
}

.search:global(.active) {
  width: 100%;
}

.article-form {
  position: relative;
}

.article-form :global(.form-group):last-of-type {
  text-align: right;
}

.article-form :global(.articles-type) button {
  margin-right: 5px;
}

.article-form textarea {
  height: 400px;
}

.article-form :global(.md-editor)>textarea {
  background: #fff;
}

.article-form :global(.md-editor)>textarea,
.article-form :global(.md-preview) {
  padding: 6px 12px;
}

.article-form :global(.md-editor) * {
  word-break: break-all;
  word-wrap: break-word;
}

.article-form :global(.md-editor) pre {
  padding: 0;
  font-size: 14px;
}

.article-form :global(.has-error) :global(.md-editor),
.article-form :global(.has-error) :global(.md-editor.active) {
  border-color: #a94442;
}

.article-form :global(.loading) {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(255, 255, 255, .5);
  z-index: 10;
}

.article-form :global(.loading)::after {
  content: "Now loading...";
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 26px;
}

@media (max-width: 480px) {
  .articles>tbody>tr>td:nth-child(2),
  .articles>tbody>tr>td:nth-child(3),
  .articles>thead>tr>th:nth-child(2),
  .articles>thead>tr>th:nth-child(3) {
    display: none;
  }
  .articles>thead>tr>th:last-child {
    width: 85px;
  }
  .article-form {
    padding: 0 15px;
  }
  .article-form textarea {
    min-height: 200px;
  }
}