/* bootstrap样式重置 */

* {
  margin: 0;
  padding: 0;
}

a:focus,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
}

:global(.btn.active.focus),
:global(.btn.active:focus),
:global(.btn.focus),
:global(.btn:active.focus),
:global(.btn:active:focus),
:global(.btn:focus) {
  outline: none;
}


/* 公共样式 */

html {
  height: 100%;
}

body {
  position: relative;
  padding-bottom: 125px;
  min-height: 100%;
  font-size: 16px;
}

main{
  padding-top: 10px;
  padding-left: 75px;
}

a {
  transition: color .25s ease-in-out, border-color .25s, background .25s ease-in-out;
}

button {
  transition: color .25s ease-in-out, border-color .25s, background .25s ease-in-out;
}

:global(.nav) li:global(.active) a {
  pointer-events: none;
}

:global(.navbar) :global(.navbar-brand) {
  padding: 7px;
  width: 50px;
}

:global(.navbar) :global(.navbar-brand) img {
  width: 100%;
  height: 100%;
}

.header form:global(.form-inline) {
  padding: 8px 15px;
}

.header :global(.username) {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .95;
  z-index: 1045;
  overflow: hidden;
  animation: navbar-slide .5s ease-in-out;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  min-height: 100px;
  text-align: center;
  border-top: 1px solid #dedede;
  z-index: 1;
}

.slidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  width: 75px;
  background: #222;
  z-index: 998;
}

.slidebar ul{
  margin-bottom: 0;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #222;
}

.slidebar li{
  padding: 20px 0;
  text-align: center;
}
.slidebar li:global(.active){
  overflow-y: initial;
}

.slidebar li>:global(.glyphicon){
  padding: 5px;
  font-size: 24px;
  color: #555;
  cursor: pointer;
  transition: transform .25s ease-in-out;
}

.slidebar li>:global(.glyphicon):hover{
  transform: rotateZ(360deg)
}

.slidebar li:global(.active)>:global(.glyphicon){
  color: #eee;
}

.slidebar :global(.children){
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
  transition: transform .25s ease-in-out;
  transform: translate(0, 0);
  transform: translate3d(0, 0, 0);
}

.slidebar li:global(.active) :global(.children){
  transform: translate(100%, 0);
  transform: translate3d(100%, 0, 0)
}

.slidebar :global(.list-group-item){
  background: rgba(0, 0, 0, .9);
  border-color: #222;
  color: #eee;
  width: 150px;
}

.slidebar :global(.feature-search){
  width: 180px;
}
.slidebar :global(.feature-search)>input{
  height: 44px;
}
.slidebar :global(.feature-search)>a{
  color: #ccc;
}
.slidebar :global(.feature-search)>a:hover{
  color: #66afe9;
}

.btn-slidebar-mobile{
  padding: 8px;
  position: fixed;
  top: 25px;
  right: 25px;
  z-index: 998;
  display: none;
  border-radius: 4px;
  text-align: center;
  background: #222;
  color: #555;
  cursor: pointer;
}
.btn-slidebar-mobile:hover{
  color: #eee;
}
.btn-slidebar-mobile:global(.active){
  color: #eee;
}

.search {
  position: relative;
  margin-bottom: 0;
}

.search input {
  padding-right: 30px;
}

.search :global(.glyphicon) {
  position: absolute;
  top: 50%;
  right: 5px;
  padding: 5px;
  transform: translate(0, -50%);
  font-size: 1.1em;
  color: #333;
  cursor: pointer;
}

.search :global(.glyphicon):hover {
  color: #ff0000;
}

.loading {
  width: 50px;
  height: 50px;
  border-width: 4px;
  border-style: solid;
  border-color: #999;
  border-top: none;
  border-bottom: none;
  border-right: none;
  border-radius: 50%;
  animation: loading-rotating .2s ease-in-out infinite;
}

@media (min-width: 1024px) {
   ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
   ::-webkit-scrollbar-button {
    display: none;
  }
   ::-webkit-scrollbar-track {
    background-color: #fff;
  }
   ::-webkit-scrollbar-thumb {
    min-height: 48px;
    background-color: #d2d2d2;
    border: 3px solid #fff;
    border-radius: 10px;
    background-clip: padding-box;
  }
}

@media (max-width: 767px) {
  main{
    padding-top: 0;
  }
  .header form:global(.form-inline) :global(.form-group) {
    margin-bottom: 0;
  }
  .header :global(.username) {
    width: 100%;
  }
}

@media (max-width: 500px) {
  main{
    padding-left: 0;
  }
  .slidebar{
    transition: transform .25s ease-in-out;
    transform: translate3d(-100%, 0, 0);
  }
  .slidebar:global(.active){
    transform: translate3d(0, 0, 0);
  }
  .btn-slidebar-mobile{
    display: block;
  }
}

@keyframes loading-rotating {
  from {
    transform: rotate3d(0, 0, 1, 0);
  }
  to {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}