/* bootstrap样式重置 */

a:focus,
a:hover {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}

button {
  outline: none;
}

:global(.btn.active.focus),
:global(.btn.active:focus),
:global(.btn.focus),
:global(.btn:active.focus),
:global(.btn:active:focus),
:global(.btn:focus) {
  outline: none;
}


/* 公共样式 */

html {
  height: 100%;
}

body {
  position: relative;
  padding-top: 73px;
  padding-bottom: 125px;
  min-height: 100%;
  font-size: 16px;
}

a {
  transition: color .25s ease-in-out, border-color .25s, background .25s ease-in-out;
}

button {
  transition: color .25s ease-in-out, border-color .25s, background .25s ease-in-out;
}

:global(.nav) li:global(.active) a {
  pointer-events: none;
}

:global(.navbar) :global(.navbar-brand) {
  padding: 7px;
  width: 50px;
}

:global(.navbar) :global(.navbar-brand) img {
  width: 100%;
  height: 100%;
}

.header form:global(.form-inline) {
  padding: 8px 15px;
}

.header :global(.username) {
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .95;
  z-index: 998;
  overflow: hidden;
  animation: navbar-slide 1s ease-in-out;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  padding-top: 15px;
  width: 100%;
  min-height: 100px;
  text-align: center;
  border-top: 1px solid #dedede;
  z-index: 1;
}

.search {
  position: relative;
  margin-bottom: 0;
}

.search input {
  padding-right: 30px;
}

.search :global(.glyphicon) {
  position: absolute;
  top: 50%;
  right: 5px;
  padding: 5px;
  transform: translate(0, -50%);
  font-size: 1.1em;
  color: #333;
  cursor: pointer;
}

.search :global(.glyphicon):hover {
  color: #ff0000;
}

@media (min-width: 1024px) {
   ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
  }
   ::-webkit-scrollbar-button {
    display: none;
  }
   ::-webkit-scrollbar-track {
    background-color: #fff;
  }
   ::-webkit-scrollbar-thumb {
    min-height: 48px;
    background-color: #d2d2d2;
    border: 3px solid #fff;
    border-radius: 10px;
    background-clip: padding-box;
  }
}

@media (max-width: 767px) {
  .header form:global(.form-inline) :global(.form-group) {
    margin-bottom: 0;
  }
  .header :global(.username) {
    width: 100%;
  }
}

@keyframes navbar-slide {
  from {
    height: 0;
  }
  to {
    height: 52px;
  }
}