.types>:global(.panel-heading) {
  border-bottom: none;
}

.types :global(.panel-body) {
  padding: 0;
}

.types :global(.list-group) {
  margin-bottom: 0;
}

.types :global(.list-group-item) {
  border-left: none;
  border-right: none;
}

.types :global(.list-group-item:last-child) {
  border-bottom: none;
}

.list li {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.list a:global(.list-group-item) {
  border: none;
  border-radius: 10px;
  color: #31708f;
  cursor: pointer;
}

.list a>h3 {
  color: #800080;
}

.list a span {
  margin-right: 15px;
}

.content>p>span {
  margin-right: 15px;
}

.content :global(.text) * {
  word-break: break-all;
  word-wrap: break-word;
}

.content :global(.text) pre{
  padding: 0;
  font-size: 14px;
}

@media (max-width: 767px) {
  .types {
    display: none;
  }
}

@media (max-width: 480px) {
  .content>p>span:nth-child(1),
  .content>p>span:nth-child(2) {
    display: none;
  }
  .content :global(.text) code{
    width: 150%;
  }
}